.CardContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1rem;
	margin: 0 auto;
	width: calc(100% - 2px);
}

@media screen and (max-width: 1000px) {
	.CardContainer {
		grid-template-columns: repeat(2, 1fr);
		margin: 0 auto;
	}
}

@media screen and (max-width: 730px) {
	.CardContainer {
		display: block;
		margin: 0 auto;
	}
}

.header-container-splitter {
	height: 4.5rem;
}

@media screen and (max-width: 445px) {
	.CardContainer {
		margin: 1rem 0 0;
	}
}