.Card {
	align-items: center;
	background-color: #fcfcfc;
	background-position: top center;
	background-size: cover;
	box-shadow: 0 8px 1rem rgba(0, 0, 0, .5);
	cursor: pointer;
	display: flex;
	flex-direction: column;
	height: 20rem;
	justify-content: space-between;
	margin: 1rem auto;
	padding: 0;
	width: 100%;
	transition-duration: .1s;
}

.Card:hover {
	box-shadow: 0 12px 1rem rgba(0, 0, 0, .5);
}

.card-inner-wrapper {
	width: 100%;
}

.Card p {
	display: none;
}

.Card:hover .movie-title {
	background: linear-gradient(to bottom, rgba(0, 0, 0, .9), rgba(0, 0, 0, .6), transparent);
}

.movie-rating {
	font-size: 1rem;
	height: 2.5rem;
	margin-left: 1rem;
	width: 2.5rem;
}

.card-favorite-button {
	background-color: #222;
	border: none;
  bottom: 8px;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, .4);
  clip-path: polygon(0 0, 100% 100%, 100% 0);
	cursor: pointer;
  height: 70px;
	outline: none;
	position: relative;
	right: 1px;
	transition-duration: .2s;
  width: 70px;
}

.card-favorite-button:hover {
	background-color: #444;
}

.card-favorite-button img {
	bottom: 15px;
	height: 2rem;
	left: 15px;
	position: relative;
}

.fav-btn-active {
	background-color: #444;
}

.fav-btn-active:hover {
	background-color: #222;
}

.movie-title {
	background: linear-gradient(to bottom, rgba(0, 0, 0, .8), rgba(0, 0, 0, .5), transparent);
	color: #fcfcfc;
	display: inline-flex;
	font-size: 2rem;
	justify-content: space-between;
	height: 4rem;
	padding: .5rem 0;
	text-shadow: 0 0 2rem rgba(0, 0, 0, .9);
	margin: 0;
	overflow: hidden;
	width: calc(100% + 1px);
}

.Card p {
	margin: 0;
}

.poster-image {
	display: none;
	width: 15rem;
}

/* --------------- EXPANDED CARD --------------- */

.expanded-background {
	display: none;
}

.expanded-card {
	height: 80%;
	margin-left: 10vw;
	position: fixed;
	width: 80%;
	z-index: 3;
}

.expanded-card .card-inner-wrapper {
	/* box-shadow: inset 0 0 5rem rgba(255, 255, 255, .3); */
}

.expanded-card .expanded-background {
	background-color: rgba(0, 0, 0, .4);
	/* background: radial-gradient(transparent 50%, rgba(0, 0, 0, .8)); */
	display: initial;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: -1;
}

.expanded-card .movie-title {
	padding-top: 2rem;
}

.expanded-card .card-favorite-button {
	background-color: transparent;
	width: 10%;
}

.expanded-card .card-inner-wrapper {
	background-color: transparent;
	height: 100%;
}

.expanded-lower-container {
	/* background-color: chartreuse; */
	display: inline-flex;
	justify-content: space-around;
	height: 80%;
}

.expanded-card .poster-image {
	box-shadow: 0 0 3rem #666;
	border-radius: 5px;
	display: inline;
	height: 70%;
	margin: 4rem 3rem;
	width: auto;
}

.expanded-card p {
	/* background-color: magenta; */
	color: white;
	display: inline;
	padding-top: 4rem;
}

.card-overview {
	font-size: 2rem;
	text-align: justify;
	width: 45%;
}

.card-release-date {
	font-size: 1.5rem;
	text-align: end;
}

/* --------------- MEDIA QUERIES --------------- */

@media screen and (max-width: 1600px) {
  .Card {
		height: 17rem;
	}

	.card-favorite-button {
		right: 0;
	}

	.movie-title {
		font-size: 1.5rem;
		width: 100%;
	}

	.expanded-card {
		height: 70%;
		margin-top: 2rem;
	}

	.expanded-card p {
		font-size: 1.5rem;
	}

	.expanded-card .poster-image {
		height: unset;
		margin: 4rem 0;
		width: 10rem;
	}
}

@media screen and (max-width: 900px) {
	.Card {
		height: 13rem;
	}

	.card-favorite-button {
		left: 1px;
	}

	.expanded-card p {
		font-size: 15px;
	}
}

@media screen and (max-width: 730px) {
	.Card {
		border-radius: 0;
		height: 15rem;
		margin: 0;
		width: 100%;
	}

	.movie-title {
		border-radius: 0;
	}
}





.rating-container {
  background-color: #fcfcfc;
  border-radius: 2rem;
  height: 2rem;
  margin: 3rem auto;
  padding: 2px;
  width: 100%;
}

.rating-bar {
  /* background-color: #51B04D; */
	border-radius: 1rem;
	font-size: 1rem;
	font-weight: 700;
	line-height: 200%;
	text-align: center;
  height: 32px;
}